# AI
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
--extra-index-url https://download.pytorch.org/whl/cu121

scipy==1.17.1

# Utility
tqdm==4.67.3
pandas==3.0.2
seaborn==0.13.2
plotly==6.7.0

# Mesh
trimesh==4.12.1


# SMPLX
smplx==0.1.28